 .register{
    height: 100vh;
    width: 100%;
}


.register1 {
    padding: 0 !important;
background-color: #89ABB2;
    position: relative;
display: flex !important;
justify-content: center;
    align-items: center;
}
.register2 {
    padding: 0 !important;
background-color: #FFFEF9;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.register img { 
    width: 255px;
    height: 275px;
    object-fit: contain;
}

.register .logo1{
    margin-right: 130px;
}
.register .logo2 {
    margin-left: 130px;
}

.register_container{
    border-radius: 40px;
        background: #FFF;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.28);
    right: -210px;
    position: absolute;
    width: 420px;
        height: 530px;
        padding: 20px;
        background: #FDFBF7;
}
.register_container h2{
    color: #333;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 76px;
        text-align: center;
        position: relative;
        padding-bottom: 30px;
        position: relative;
}

.register_container h2::before {
    content: '';
    width: 150px;
    height: 4px;
    top: 80px;
    left: 115px;
    position: absolute;
    background-color: #89ABB2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.r_btn {
    font-family: Inter !important;
        font-size: 22px !important;
        font-style: normal !important;
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px 65px;

    background-color: #89ABB2 !important;
    color: white !important;
    font-weight: 600 !important;
    border-radius:60px !important ;
    -webkit-border-radius:60px !important ;
    -moz-border-radius:60px !important ;
    -ms-border-radius:60px !important ;
    -o-border-radius:60px !important ;
}
.register input:focus{

    border-color: #89ABB2;
        box-shadow: inset 0px 0px 0px 1px #89ABB2;
}
.my_input{
    height: 70px;
}
.my_input label {
    font-weight: 600 !important;
color: #333;
text-transform: capitalize;
}