.Toastify__toast-theme--light {
        top: 40px;
}

.pb-50{
padding-bottom: 50px;
}

.pb-100 {
        padding-bottom: 100px;
}

.mb-50 {
        margin-bottom: 50px;
}

.mb-100 {
        margin-bottom: 100px;
}